{% extends 'base.html.twig' %}

{% block title %}Emprunts{% endblock %}

{% block body %}
<!-- En-tête + menu de page -->
  <div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
          <h1 class="app-page-title mb-0">Emprunts</h1>
    </div>
    <div class="col-auto">
       <div class="page-utilities">
        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
          <div class="col-auto">
            <a class="btn btn-primary text-light" href="{{ path('rental_new') }}"><i class="fas fa-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fin en-tête + menu de page -->
    <table id="table_id" class="table">
        <thead>
            <tr>
                <th>Emprunteur</th>
                <th class="text-center">Date de l'emprunt</th>
                <th class="text-center">Statut de l'emprunt</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
        {% for rental in rentals %}
            <tr>
                <td><a href="{{ path('borrower_show', {'id': rental.borrower.id}) }}">{{rental.borrower.fullName}}</a></td>
                <td class="text-center">{{ rental.locationDate ? rental.locationDate|date('d-m-Y') : '' }}</td>
                <td class="text-center">{{ rental.returnStatus ? '<span class="badge bg-success">Clôturé</span>' : '<span class="badge bg-danger">En cours</span>' }}</td>
                <td class="text-center">
                    <div class="dropdown">
                     <button class="btn btn-primary dropdown-toggle text-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                       <i class="fas fa-cogs"></i>
                     </button>
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                       <li><a class="dropdown-item" href="{{ path('rental_show', {'id': rental.id}) }}"><i class="fas fa-eye"></i> Voir</a></li>
                       <li><a class="dropdown-item" href="{{ path('rental_edit', {'id': rental.id}) }}"><i class="fas fa-edit"></i>Editer</a></li>
                     </ul>
                   </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'emprunts enregistrés.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable();
    } );
  </script>
{% endblock %}
