{% extends 'base.html.twig' %}

{% block title %}Emprunt{% endblock %}

{% block body %}
    <h1>Emprunt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Emprunteur</th>
                <td><a href="{{ path('borrower_show', {'id': rental.borrower.id}) }}">{{rental.borrower.fullName}}</a></td>
            </tr>
            <tr>
                <th>Date d'emprunt</th>
                <td>{{ rental.locationDate ? rental.locationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Rendu</th>
                <td>{{ rental.returnStatus ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Remarques</th>
                <td>{{ rental.observation }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Livres empruntés</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Code</th>
          <th>Titre</th>
          <th>Date prévue</th>
          <th>Rendu le</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for rental in rental.bookRentals %}
        <tr>
          <td>{{rental.book.code}}</td>
          <td><a href="{{path('book_show',{'id':rental.book.id})}}">{{rental.book.title}}</a></td>
          <td>{{rental.dueDate|date("d/m/Y")}}</td>
          <td class="returnDate">
            {% if rental.returnDate is not null %}
              {{rental.returnDate|date("d/m/Y")}}
            {% else %}
              Non rendu
            {% endif %}
          </td>
          {% if rental.returnDate is null %}
            <td><button data-id={{rental.id}} class="btn btn-primary returnButton"><i class="fas fa-arrow-down"></i></button></td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </br>

    <a class="btn btn-primary" href="{{ path('rental_index') }}">Retour</a>

    <a class="btn btn-primary" href="{{ path('rental_edit', {'id': rental.id}) }}">Editer</a>

    {{ include('rental/_delete_form.html.twig') }}
{% endblock %}
{% block javascript %}
  <script>
    $(".returnButton").click(function() {
      var currentId = $(this).data('id')
      var url = "{{ path('return',{'id':'currentId'})}}";
      url = url.replace('currentId', currentId);
      var actualButton = $(this)
      $.getJSON( url, function( json ) {})
        .done(function(data) {
          $(actualButton).parent().parent().find(".returnDate").html("{{'now'|date("d/m/Y")}}")
          $(actualButton).remove();
        })
    })
  </script>
{% endblock %}
