{% extends 'base.html.twig' %}

{% block title %}Emprunt{% endblock %}

{% block body %}
<!-- En-tête + menu de page -->
  <div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
          <h1 class="app-page-title mb-0">Emprunt</h1>
    </div>
    <div class="col-auto">
       <div class="page-utilities">
        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
          <div class="col-auto">
            <a class="btn btn-primary text-light" href="{{ path('rental_edit', {'id': rental.id}) }}"><i class="fas fa-edit"></i></i></a>
          </div>
          <div class="col-auto">
            <a class="btn btn-primary text-light" href="{{ path('rental_index') }}"><i class="fas fa-long-arrow-alt-left"></i></a>
          </div>
          <div class="col-auto">
            {{ include('rental/_delete_form.html.twig') }}
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fin en-tête + menu de page -->
    <table class="table">
        <tbody>
            <tr>
                <th>Emprunteur</th>
                <td >
                  {% if rental.borrower is not null%}
                    <a href="{{ path('borrower_show', {'id': rental.borrower.id}) }}">{{rental.borrower.fullName}}</a>
                  {% else %}
                      Emprunteur supprimé !
                  {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date d'emprunt</th>
                <td>{{ rental.locationDate ? rental.locationDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td id="rentalStatus">{{ rental.returnStatus ? '<span class="badge bg-success">Clôturé</span>' : '<span class="badge bg-danger">En cours</span>' }}</td>
            </tr>
            <tr>
                <th>Remarques</th>
                <td>{{ rental.observation }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Livres empruntés</h2>
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">Code de l'exemplaire</th>
          <th class="text-center">Titre</th>
          <th class="text-center">Date prévue</th>
          <th class="text-center">Rendu le</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for oneRental in rental.bookRentals %}
        <tr>
          <td class="text-center">{{oneRental.sample.code}}</td>
          <td class="text-center"><a href="{{path('book_show',{'id':oneRental.sample.book.id})}}">{{oneRental.sample.book.title}}</a></td>
          <td class="text-center">{{oneRental.dueDate|date("d/m/Y")}}</td>
          <td class="returnDate text-center">
            {% if oneRental.returnDate is not null %}
              {{oneRental.returnDate|date("d/m/Y")}}
            {% else %}
              Non rendu
            {% endif %}
          </td>
          {% if oneRental.returnDate is null %}
            <td class="text-center"><button data-id={{oneRental.id}} class="btn btn-primary returnButton text-light"><i class="fas fa-arrow-down"></i></button></td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </br>
{% endblock %}
{% block javascript %}
  <script>
    $(".returnButton").click(function() {
      var currentId = $(this).data('id')
      var url = "{{ path('return',{'id':'currentId'})}}";
      url = url.replace('currentId', currentId);
      var actualButton = $(this)
      $.getJSON( url, function( json ) {})
        .done(function(data) {
          $(actualButton).parent().parent().find(".returnDate").html("{{'now'|date("d/m/Y")}}")
          $(actualButton).remove();
          if(data){
            $('#rentalStatus').html('<span class="badge bg-success">Clôturé</span>')

          }
        })
    })
  </script>
{% endblock %}
