{{ form_start(form) }}

    <div class="input-group mb-3">
      {{form_row(form.ISBN)}}
        <button class="btn btn-outline-secondary" type="button" id="submit"><i class="fas fa-magic"></i></button>
    </div>

    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
