{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}

    <h1>Book index</h1>

    <table id="table_id" class="display" class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur(s)</th>
                <th>ISBN</th>
                <th>Couverture</th>
                <th>Code</th>
                <th>Localisation</th>
                <th>Résumé</th>
                <th>Editor</th>
                <th>Language</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.ISBN }}</td>
                <td><img src="{{ book.image }}"></td>
                <td>{{ book.code }}</td>
                <td>{{ book.shelf }}</td>
                <td>{{ book.abstract }}</td>
                <td>{{ book.editor }}</td>
                <td>{{ book.language }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('book_new') }}">Nouveau livre</a>

    <script>
      $(document).ready( function () {
        $('#table_id').DataTable();
      } );
    </script>

{% endblock %}
