{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
<!-- En-tête + menu de page -->
  <div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
          <h1 class="app-page-title mb-0">Livres</h1>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
      <div class="col-auto">
         <div class="page-utilities">
          <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
            <div class="col-auto">
              <a class="btn btn-primary text-light" href="{{ path('book_new') }}"><i class="fas fa-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
<!-- Fin en-tête + menu de page -->

    <table id="table_id" class="display table">
        <thead>
            <tr>
                <th class="cell text-center">Couverture</th>
                <th class="cell text-center">Titre</th>
                <th class="cell text-center">Auteur(s)</th>
                <th class="cell text-center">Thématique(s)</th>
                <th class="cell text-center">Editeur</th>
                <th class="cell text-center"></th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td class="cell text-center"><img  class="img-fluid mx-auto d-block" src="{{ book.image }}"></td>
                <td class="cell text-center">{{ book.title }}</td>
                <td class="cell text-center">{{ book.author }}</td>
                <td class="cell text-center">
                  {% for oneCategory in book.category %}
                    {{ oneCategory.name }}
                    {% if not loop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td class="cell text-center">{{ book.editor }}</td>
                <td class="cell text-center">
                  {% if is_granted('ROLE_ADMIN') %}
                 <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle text-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-cogs"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{ path('book_show', {'id': book.id}) }}"><i class="fas fa-eye"></i>Voir</a></li>
                    <li><a class="dropdown-item" href="{{ path('book_edit', {'id': book.id}) }}"><i class="fas fa-edit"></i>Editer</a></li>
                  </ul>
                </div>
                {% else %}
                  <li><a class="btn btn-primary text-light" href="{{ path('book_show', {'id': book.id}) }}"><i class="fas fa-eye"></i></a></li>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">Pas de livre enregistré!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascript %}
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable({
        language: {
          url: "{{asset('DataTables/french.json')}}"
        },
        responsive:true
      }
      );
    } );
  </script>
{% endblock %}
