{% extends 'base.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
<!-- En-tête + menu de page -->
{{ form_start(form) }}
  <div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
          <h1 class="app-page-title mb-0">Créer livre</h1>
    </div>
    <div class="col-auto">
       <div class="page-utilities">
        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
          <div class="col-auto">
            <button id="submitSave" class="btn btn-primary text-light"><i class="fas fa-save"></i></button>
          </div>
          <div class="col-auto">
            <a class="btn btn-primary text-light" href="{{ path('book_index') }}"><i class="fas fa-long-arrow-alt-left"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
    {{form_label(form.ISBN)}}
    <div class="input-group mb-3">
      {{form_widget(form.ISBN)}}
      <div class="input-group-append">
        <button class="btn btn-primary text-light" type="button" id="submitISBN"><i class="fas fa-magic"></i></button>
      </div>
    </div>
    {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
{% block javascript %}
  <script>
    //neutralisation du cache Ajax pour pouvoir réeffectuer la recherche
     $.ajaxSetup({ cache: false });
     $("#submitISBN").click(function(evt) {
       evt.preventDefault();
       var tags = $("#book_ISBN").val();
       var key = 'AIzaSyDo7w86Zn0wYlnkc6jUZx8dnrdq8RmtMc4';
       var url = 'https://www.googleapis.com/books/v1/volumes?q=isbn:'+tags+'&key='+key;
       $.getJSON( url, function( json ) {})
         .done(function(data) {
           console.log(data)
           book=data['items'][0];
         $("#book_title").val(book["volumeInfo"]["title"] || "")
         var authors = book["volumeInfo"]["authors"];
         authors.toString();
         $("#book_author").val(authors)
         $("#book_language").val(book["volumeInfo"]["language"] || "")
         $("#book_year").val(book["volumeInfo"]["publishedDate"] || "")
         $("#book_editor").val(book["volumeInfo"]["publisher"] || "")
         $("#book_paging").val(book["volumeInfo"]["pageCount"] || "")
         $("#book_abstract").val(book["volumeInfo"]["description"] || "")
         $("#book_image").val(book["volumeInfo"]["imageLinks"]["smallThumbnail"] || "")
         })
     });

     $('.category').selectize({
      plugins: ['remove_button'],
      valueField: 'text',
      labelField: 'text',
      searchField: 'text',
      hideSelected: true,
      delimiter: ",",
      create: true,
      options: [],
      load: function(query, callback) {
        if (!query.length) return callback();
        $.ajax({
            url: '{{ path('find_categories')}}',
            type: 'GET',
            dataType: 'json',
            error: function() {
                callback();
            },
            success: function(res) {
              callback(res);
            }
        });
      }
    });
  </script>
  </script>
{% endblock %}
