{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
  <!-- En-tête + menu de page -->
    <div class="row g-3 mb-4 align-items-center justify-content-between">
      <div class="col-auto">
            <h1 class="app-page-title mb-0">Livres</h1>
      </div>
      {% if is_granted('ROLE_ADMIN') %}
        <div class="col-auto">
           <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
              <div class="col-auto">
                <button id="printButton" class="btn btn-primary text-light" ><i class="fas fa-print"></i></button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  <!-- Fin en-tête + menu de page -->
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="generalCheckbox">
    <label class="form-check-label" for="flexCheckDefault">
      <b>Sélectionner tous les livres visibles</b>
    </label>
  </div>
  <br>
  <table id="example" class="display table">
      <thead>
          <tr>
            <th class="cell text-center"></th>
              <th class="cell text-center">Titre</th>
              <th class="cell text-center">Auteur(s)</th>
              <th class="cell text-center">Exemplaire(s)</th>
          </tr>

      </thead>
      <tbody>
      {% for book in books %}
          <tr>
            <td class="cell text-center">  <input class="form-check-input parentCheckbox" type="checkbox" data-id="{{book.id}}"  data-title="{{book.title}}" data-author="{{book.author}}" value="{{book.id}}" id="checkbox{{book.id}}"><div data-bs-toggle="collapse" data-bs-target="#collapse{{book.id}}" aria-expanded="false" aria-controls="collapse{{book.id}}"></div></td>
              <td class="cell text-center">{{ book.title }}</td>
              <td class="cell text-center">{{ book.author }}</td>
              <td class="cell text-center">
                {% for sample in book.samples %}
                  <input  class="form-check-input childCheckbox child{{book.id}}" data-title="{{book.title}}" data-sample="{{sample.code}}" type="checkbox" value="{{sample.id}}" id="flexCheckDefault"> {{sample.code}}</li>
                    <img style="display:none;" class="barcode" id={{ sample.code }} jsbarcode-format="CODE128" jsbarcode-value={{ sample.code }} jsbarcode-textmargin="0" jsbarcode-fontoptions="bold"></img>
                  {% endfor %}
              </td>
          </tr>
      {% else %}
          <tr>
              <td colspan="14">Pas de livre enregistré!</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>




{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    $('#example').DataTable( {
      language: {
        url: "{{asset('DataTables/french.json')}}"
      },
      responsive:true,

    } );
} );
</script>
<script>
  window.jsPDF = window.jspdf.jsPDF;
  JsBarcode(".barcode").init();

    $("#generalCheckbox").click(function () {
      $('input:checkbox').not(this).prop('checked', this.checked);
    });
    $(".parentCheckbox").click(function () {
      var id=$(this).data("id");
      $('.child'+id).not(this).prop('checked', this.checked);
    });

    $("#printButton").on("click", function() {
         const doc = new jsPDF();

         var posImg = 15
         var posTitle = 10
         var posLine = 40
         var numberOfStickers = 0;
         let logo = new Image();
         logo.src="{{asset('logosap.png')}}"
         let barCodeImg = new Image();
         $('.childCheckbox').each(function () {
            if (this.checked) {
              var title = $(this).data("title")
              var code = $(this).data("sample")
              console.log(code)
              doc.setFontSize(10);
              doc.text(title, 10, posTitle);
              barCodeImg.src =$('#'+code).attr('src');
              doc.addImage(logo, "PNG",70,posImg,50,20 );
              doc.addImage(barCodeImg, "PNG",10,posImg,50,20 );
              doc.line(10, posLine, 120, posLine);
              posImg = posImg+40;
              posTitle = posTitle+40;
              posLine = posLine+40;
              numberOfStickers = numberOfStickers+1;
              if((numberOfStickers%7)  == 0){
                doc.addPage()
                posImg = 15
                posTitle = 10
                posLine = 40
              }
            }
          })
         doc.save("mylittlelibrary.pdf");
    });
    $("#printButtonList").on("click", function() {
         const doc = new jsPDF();
         var posTitle = 10
         $('.parentCheckbox').each(function () {
           var title = $(this).data("title")
           var author = $(this).data("author")
            if (this.checked) {
              doc.text(title+' de '+author, 10, posTitle);
              posTitle = posTitle+10;
            }
        })
         doc.save("mylittlelibrary.pdf");
    });

  </script>
{% endblock %}
