{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}

    <!-- En-tête + menu de page -->
      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
              <h1 class="app-page-title mb-0">Fiche livre</h1>
        </div>
        <div class="col-auto">
           <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
              {% if is_granted('ROLE_ADMIN') %}
                <div class="col-auto">
                  <a class="btn btn-primary text-light" href="{{ path('book_edit', {'id': book.id}) }}"><i class="fas fa-edit"></i></i></a>
                </div>
              {% endif %}
              <div class="col-auto">
                <a class="btn btn-primary text-light" href="{{ path('book_index') }}"><i class="fas fa-long-arrow-alt-left"></i></a>
              </div>
              {% if is_granted('ROLE_ADMIN') %}
                <div class="col-auto">
                  {{ include('book/_delete_form.html.twig') }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    <!-- Fin en-tête + menu de page -->
    <h1 class="app-page-title mb-0">{{ book.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Couverture</th>
                <td><img class="img-fluid w-25" src="{{ book.image }}"></td>
            </tr>
            <tr>
                <th>Auteur(s)</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ book.abstract }}</td>
            </tr>
            <tr>
                <th>Thématique(s)</th>
                  <td>
                    {% for oneCategory in book.category %}
                      {{ oneCategory.name }}
                      {% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>{{ book.ISBN }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
              <tr>
                  <th>Propriétaire</th>
                  <td>{{ book.owner }}</td>
              </tr>
              <tr>
                  <th>Localisation</th>
                  <td>{{ book.shelf }}</td>
              </tr>
            {% endif %}
            <tr>
                <th>Nombre de pages</th>
                <td>{{ book.paging }} pages</td>
            </tr>
            <tr>
                <th>Editeur</th>
                <td>{{ book.editor }}</td>
            </tr>
            <tr>
                <th>Prix neuf</th>
                <td>{{ book.price }} €</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ book.language }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Exemplaire(s)</th>
                <td>
                  <!-- <span id="QRcode"></span> -->
                  {% for oneSample in book.samples %}
                    <div><span id="codeValue">{{ oneSample.code }}</span> <span data-id={{oneSample.id}} type="button" class="badge bg-danger removeSpanButton"><i class="fas fa-minus-circle"></i></span></div>
                  {% endfor %}
                </td>
            </tr>>
            {% endif %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <h3>Historique</h3>
      <table id="table_id" class="display table">
        <thead>
          <tr>
            <th class="cell">Exemplaire</th>
            <th class="cell">Emprunteur</th>
            <th class="cell text-center">Date d'emprunt</th>
            <th class="cell text-center">Date de retour</th
            <th class="cell"></th>
          </tr>
        </thead>
        <tbody>
            {%for bookRental in book.bookRentals|sort %}
              <tr>
              <td class="cell"> {{bookRental.sample.code}} </td>
                <td class="cell">
                  {% if bookRental.rental.borrower is not null%}
                    <a href="{{ path('borrower_show', {'id': bookRental.rental.borrower.id}) }}">{{bookRental.rental.borrower.fullName}}</a>
                  {% else %}
                      Emprunteur supprimé !
                  {% endif %}
                </td>
                <td class="cell text-center">{{bookRental.rental.locationDate|date('d-m-Y')}}</td>
                {% if bookRental.returnDate is not null%}
                  <td class="text-center">{{bookRental.returnDate|date('d-m-Y') }}</td>
                {% else %}
                  <td class="cell text-center"><span class="badge bg-danger"> Non rendu !</span></td>
                {% endif %}
                <td class="cell text-center"><a class="btn btn-primary text-light" href="{{ path('rental_show', {'id': bookRental.rental.id}) }}"><i class="fas fa-eye"></i></a></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    {% endif %}
{% endblock %}
{% block javascript%}

  <script>
    $(".removeSpanButton").click(function() {
      var currentId = $(this).data('id')
      var url = "{{ path('remove_sample',{'id':'currentId'})}}";
      url = url.replace('currentId', currentId);
      var actualButton = $(this)
      $.getJSON( url, function( json ) {})
        .done(function(data) {
          $(actualButton).parent().remove();
        })
    })

    // new QRCode(
    //   document.getElementById("QRcode"),{
    //   text:$('#codeValue').html(),
    //   width: 128,
    //   height: 128,
    // });
    // $(document).ready( function () {
    //   $('#table_id').DataTable({
    //     language: {
    //       url: "{{asset('DataTables/french.json')}}"
    //     },
    //     responsive:true
    //     }
    //   );
    // });
  </script>
{% endblock %}
