{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Couverture</th>
                <td><img src="{{ book.image }}"></td>
            </tr>
            <tr>
                <th>Auteur(s)</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>{{ book.ISBN }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ book.code }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                <td>{{ book.owner }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ book.shelf }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ book.abstract }}</td>
            </tr>
            <tr>
                <th>Nombre de pages</th>
                <td>{{ book.paging }} pages</td>
            </tr>
            <tr>
                <th>Editeur</th>
                <td>{{ book.editor }}</td>
            </tr>
            <tr>
                <th>Prix neuf</th>
                <td>{{ book.price }} €</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ book.language }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('book_index') }}">Retour</a>

    <a class="btn btn-primary"href="{{ path('book_edit', {'id': book.id}) }}">Editer</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
