{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}

    <!-- En-tête + menu de page -->
      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
              <h1 class="app-page-title mb-0">Fiche livre</h1>
        </div>
        <div class="col-auto">
           <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
              <div class="col-auto">
                <a class="btn btn-primary text-light" href="{{ path('book_edit', {'id': book.id}) }}"><i class="fas fa-edit"></i></i></a>
              </div>
              <div class="col-auto">
                <a class="btn btn-primary text-light" href="{{ path('book_index') }}"><i class="fas fa-long-arrow-alt-left"></i></a>
              </div>
              <div class="col-auto">
                {{ include('book/_delete_form.html.twig') }}
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Fin en-tête + menu de page -->
    <h1 class="app-page-title mb-0">{{ book.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Couverture</th>
                <td><img class="img-fluid" src="{{ book.image }}"></td>
            </tr>
            <tr>
                <th>Auteur(s)</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ book.abstract }}</td>
            </tr>
            <tr>
                <th>Thématique(s)</th>
                  <td>
                    {% for oneCategory in book.category %}
                      {{ oneCategory.name }}
                      {% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>{{ book.ISBN }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                <td>{{ book.owner }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ book.shelf }}</td>
            </tr>
            <tr>
                <th>Nombre de pages</th>
                <td>{{ book.paging }} pages</td>
            </tr>
            <tr>
                <th>Editeur</th>
                <td>{{ book.editor }}</td>
            </tr>
            <tr>
                <th>Prix neuf</th>
                <td>{{ book.price }} €</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ book.language }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>
                  <span id="QRcode"></span>
                  <span id="codeValue">{{ book.code }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Historique</h3>
    <table class="table">
      <thead>
        <tr>
          <th >Emprunteur</th>
          <th class="text-center">Date d'emprunt</th>
          <th class="text-center">Retour prévu</th>
          <th class="text-center">Date de retour</th
          <th></th>
        </tr>
      </thead>
      <tbody>
          {%for bookRental in book.bookRentals %}
            <tr>
              <td ><a href="{{ path('borrower_show', {'id': bookRental.rental.borrower.id}) }}">{{bookRental.rental.borrower.fullName}}</a></td>
              <td class="text-center">{{bookRental.rental.locationDate|date('d-m-Y')}}</td>
              <td class="text-center">{{bookRental.dueDate|date('d-m-Y')}}</td>
              {% if bookRental.returnDate is not null%}
                <td class="text-center">{{bookRental.returnDate|date('d-m-Y') }}</td>
              {% else %}
                <td class="text-center"><span class="badge bg-danger"> Non rendu !</span></td>
              {% endif %}
              <td class="text-center"><a class="btn btn-primary text-light" href="{{ path('rental_show', {'id': bookRental.id}) }}"><i class="fas fa-eye"></i></a></td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
{% endblock %}
{% block javascript%}
  <script>
    new QRCode(
      document.getElementById("QRcode"),{
      text:$('#codeValue').html(),
      width: 128,
      height: 128,
    });
  </script>
{% endblock %}
